rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Deny all reads and writes by default to prevent data leaks.
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow a logged-in user to create, read, update, and delete
    // their own user document.
    match /users/{userId} {
      allow write, read: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for the 'orders' collection
    match /orders/{orderId} {
      // A cook can read/update their own orders. A client can read their own orders.
      allow read: if request.auth.uid == resource.data.cookId || request.auth.uid == resource.data.clientId;
      allow update: if request.auth.uid == resource.data.cookId;
    }
  }
}
